.welcome-body{
    background-color: #8BAAAD;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    min-height: 100vh;
}
.welcome-container{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.welcome-logo{
    font-size: 46px;
    animation: 
        slideInFromLeft 1.5s ease-out forwards,
        floating 5s ease-in-out infinite;
    animation-delay: 0s, 4s;
}

@media screen and (max-width: 900px) {
  .welcome-container {
    flex-direction: column;
    align-items: center;

    overflow: auto;
  }
}